<!--ユーザーインフォ-->
<h1>User info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= @user.name %>
  <%= @user.introduction %>

  <% if @user == current_user %>
      <%= link_to edit_user_path(@user) do %>
    　<i class="fas fa-user-cog"></i>
    　<% end %>
  <% end %>
</div>

<!--新規投稿-->
<%= render 'books/book', book: @book %>

<h1>User</h1>

<% @users.each do |user| %>
    <li>
      <%= image_tag user.get_profile_image(100,100) %>
      <%= user.name %>
      <%= link_to 'show', user %>
    </li>
<% end %>