<div>
  <%= flash[:notice] %>
</div>

<!-- ユーザーの詳細 -->
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= @user.name %>
  <%= @user.introduction %>

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

