<div>
  <%= flash[:notice] %>
</div>

<!-- ユーザーの詳細? -->
<h1>User info</h1>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <%= @book.user.name %>
  <%= @book.user.introduction %>

<% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

<!-- 新規作成 -->
<%= render 'books/book', book: @book %>


<h1>Book detail</h1>

<div>
  <%= image_tag @book.get_image %>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <p><%= @book.user.name %></p>


  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
  <% end %>

  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>