<div>
  <%= image_tag @book.get_image %>
  <p>本の名：<%= @book.book_name %></p>
  <p>紹介文：<%= @book.opinion %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>

  <%= link_to "Edit", edit_book_path(@book.id) %>

  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>