<main>

 <div>
   <%= flash[:notice] %>
 </div>

 <div class="container">
  <div class="row">
   <div class="col-md-3">
<!-- ユーザーの詳細? -->
     <h2>User info</h2>
       <%= image_tag @book.user.get_profile_image(100,100) %>
      <table class="table">
       <tbody>
        <tr>
         <th>name</th>
         <th><%= @book.user.name %></th>
        </tr>
        <tr>
         <th>introduction</th>
         <th><%= @book.user.introduction %></th>
        </tr>
       </tbody>
      </table>

      <div class="row">
       <div class="btn btn-outline-secondary btn-block">
         <% if @user == current_user %>
           <%= link_to edit_user_path(@user) do %>
           　<i class="fas fa-user-cog"></i>
           <% end %>
         <% end %>
       </div>
      </div>

<!-- 新規作成 -->
     <%= render 'books/book', book: @book %>

   </div>

   <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

    <table class="table">
     <tbody>
      <tr>
       <td>
         <%= image_tag @book.get_image %>
         <br>
         <%= @book.user.name %><!--リンク貼る-->
       </td>
       <td>
         <%= @book.title %><!--リンク貼る-->
       </td>
       <td>
         <%= @book.body %>
       </td>

      <td>
        <% if @book.user == current_user %>
       <div class="btn btn-sm btn-success">
          <%= link_to "Edit", edit_book_path(@book.id) %>
       </div>
        <% end %>
      </td>
      <td>
        <% if @book.user == current_user %>
       <div class="btn btn-sm btn-danger">
          <%= link_to "Destroy", book_path(@book), method: :delete %>
       </div>
        <% end %>
      </td>

      </tr>
     </tbody>
    </table>

   </div>

  </div>
 </div>
</main>